<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <header>
        <h1 class="title text-center mt-2">CRUD - Trabajo Practico Integral</h1>
        <h2 class="text-center">NFTS</h2>
    </header>
    <main>
    <div class="container" id="app">
        <section v-if="errored">
            <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente mas tarde</p>
        </section>
        <section v-else>
            <div v-if="loading">Cargando....
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            <div v-else>
                <a href="create.html" class="btn btn-success my-2">Nuevo</a>
                <br><br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>URL IMG</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="nft in nfts">
                            <td>{{nft.id}}</td>
                            <td>{{nft.nombre}}</td>
                            <td><img :src="nft.imgurl" width="100" height="100" alt=""></td>
                            <td>{{nft.precio}}</td>
                            <td>
                                <a :href="'update.html?id='+nft.id+'&nombre='+nft.nombre+'&imgurl='+nft.imgurl+'&precio='+nft.precio" class="btn btn-primary">Modificar</a>
                                <button v-on:click="eliminar(nft.id)" class="btn btn-danger">Eliminar</button>
                               
                            </td>
                        </tr>
         
                    </tbody>
                </table>
        </section>
     
        
               
        
    </div>
	</main>
    <footer>
    </footer>
    <script src="./js/main.js"></script>
</body>
</html>
